RewriteEngine On
RewriteCond %{REQUEST_URI} !^/\.well-known
RewriteCond %{REQUEST_URI} ^/server 
RewriteRule ^(.*)$ http://127.0.0.1:3000/$1 [P,L]

RewriteEngine On
RewriteCond %{REQUEST_URI} !^/\.well-known
RewriteCond %{REQUEST_URI} ^/server 
RewriteRule ^(.*)$ http://127.0.0.1:3000/$1 [P,L]

RewriteEngine On
RewriteCond %{REQUEST_URI} !^/\.well-known
RewriteCond %{REQUEST_URI} ^/server 
RewriteRule ^(.*)$ http://127.0.0.1:3210/$1 [P,L]

